.container {
  display: flex;
  flex-direction: column;
  background: #1a1b21;
  color: #fff;
  width: 317px;
  margin: 51px auto;
  border-radius: 10px;
}

.header--photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

/* MAIN SECTION */

main {
  display: flex;
  flex-direction: column;
  padding: 0 35px;
}

.personal-info {
  text-align: center;
}

.name {
  font-size: 25px;
  margin-bottom: 0;
}

.job-title {
  color: #f3bf99;
  font-size: 12.8px;
  margin: 6px auto;
}

.portfolio-link {
  color: #f5f5f5;
  font-size: 10.24px;
  line-height: 150%;
  margin-top: 17px;
}

/* BUTTONS LINKS */
.contact-links {
  margin: 15px auto 0;
  display: flex;
  gap: 17px;
}

.social-link {
  width: 115px;
  padding: 9px 13px 9px 11px;
  text-decoration: none;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.email-link {
  color: #374151;
  background: url("src/images/mail.png") no-repeat;
  background-position: 27px 53%;
  background-color: white;
  text-align: right;
  padding-right: 31px;
}

.linkedin-link {
  background: #5093e2;
  color: #fff;
  text-align: right;
  padding-right: 21px;
  background-image: url("src/images/icon-font-awesome-free-brands-l-linkedin.png");
  background-repeat: no-repeat;
  background-position: 17px 53%;
}

.sections {
  margin-top: 33px;
  margin-bottom: 0;
  padding: 0;
}

.section-title {
  margin: 0;
  color: #f5f5f5;
  font-size: 21px;
  font-weight: 700;
  line-height: 150%;
}

.section-description {
  color: #dcdcdc;
  font-size: 12.24px;
  font-weight: 400;
  line-height: 150%;
  margin-top: 5px;
}

footer {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 73px;
}

footer a {
  text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 300px) {
  .container {
    width: 225px;
  }

  .name {
    font-size: 18px;
  }

  .contact-links {
    flex-direction: column;
  }

  footer {
    padding: 0 47px;
  }
}

@media (min-width: 700px) {
  body {
    height: 100vh;
  }
  .container {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, minmax(100px, 0.5fr));
    margin: auto;
    width: calc(100% - 150px);
    border-radius: 21px;
  }

  header {
    grid-area: 1 / 1 / -1/ -1;
  }

  .header--photo {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }

  main {
    grid-area: 1 / 2 / 2 / 3;
  }

  footer {
    grid-area: 2 / 2 / 3 / 3;
  }
}
