.container {
  display: flex;
  flex-direction: column;
  width: 317px;
  margin: 3.19em auto; /* 51px auto */
  border-radius: 10px;
  background: #1a1b21;
  color: #fff;
}

/* HEADER */

.header-photo {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

/* MAIN SECTION */

main {
  display: flex;
  flex-direction: column;
  padding: 0 2.19em; /* 0 35px */
}

.personal-info {
  text-align: center;
}

.name {
  margin-bottom: 0;
  font-size: 1.56rem; /* 25px */
}

.job-title {
  margin: 0.47em auto; /* 6px auto */
  font-size: 0.8rem; /* 12.8px */
  color: #f3bf99;
}

.portfolio-link {
  margin-top: 1.66em; /* 17px */
  font-size: 0.64rem; /* 10.24px */
  color: #f5f5f5;
  line-height: 150%;
}

/* CONTACT LINKS */

.contact-links {
  display: flex;
  margin: 0.95em auto 0; /* 15px auto 0 */
  gap: 17px;
}

.social-link {
  width: 115px;
  padding: 0.56em 0.81em 0.56em 0.69em; /* 9px 13px 9px 11px */
  border-radius: 6px;
  font-size: 0.88rem; /* 14px */
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  line-height: 114.29%; /* 16px */
}

.email-link {
  padding-right: 1.94em; /* 31px */
  background: url("/src/images/mail.png") no-repeat;
  background-position: 27px 53%;
  background-color: white;
  text-align: right;
  color: #374151;
}

.linkedin-link {
  color: #fff;
  padding-right: 1.31em; /* 21px */
  background: url("/src/images/icon-font-awesome-free-brands-l-linkedin.png")
    no-repeat;
  background-position: 17px 53%;
  background-color: #5093e2;
  text-align: right;
}

.sections {
  margin-bottom: 0;
  margin-top: 2.06em; /* 33px */
  padding: 0;
}

.section-title {
  margin: 0;
  font-size: 1.31rem; /* 21px */
  font-weight: 700;
  color: #f5f5f5;
  line-height: 150%;
}

.section-description {
  margin-top: 0.41em; /* 5px */
  font-size: 0.76rem; /* 12.24px */
  font-weight: 400;
  color: #dcdcdc;
  line-height: 150%;
}

/* FOOTER */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 64px;
  padding: 0 4.56em; /* 0 73px */
}

footer a {
  text-decoration: none;
}

/* MEDIA QUERIES */

@media (max-width: 300px) {
  .container {
    width: 225px;
  }

  .name {
    font-size: 1.12rem; /* 18px */
  }

  .contact-links {
    flex-direction: column;
  }

  footer {
    padding: 0 2.94em; /* 0 47px */
  }
}

@media (min-width: 700px) {
  body {
    height: 100vh;
  }

  .container {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, minmax(100px, 0.5fr));
    margin: auto;
    width: calc(100% - 150px);
    border-radius: 21px;
  }

  header {
    grid-area: 1 / 1 / -1/ -1;
  }

  .header-photo {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }

  main {
    grid-area: 1 / 2 / 2 / 3;
  }

  footer {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0 24.5em; /* 0 147px */
  }
}
