@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #23252c;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  margin: auto;
  font-family: "Inter", sans-serif;
  margin: 0;
}
